body, div, h1, form, fieldset, input, textarea {
  margin: 0; padding: 0; border: 0; outline: none;
}
html {
  background-color: #031F21;
}
.left {
	float: left;
	width: 400px;
	height: 750px;
	background-color: #090B0C;
}
.right {
	overflow: hidden;
	display:inline-block;
  	width: 300px;
  	height:750px;
}
h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	text-align: center;
	color: white;
}
