%bg { background: #373737 url('../images/bg.png') 0 0 repeat; }
@font-face {
  font-family: paragraphFont;
  src: url('../fonts/tiza.ttf')
}

body, div, h1, form, fieldset, input, textarea {
  margin: 0; padding: 0; border: 0;
}
html {
  height: 100%;
  background-color: #031F21;
}
h1 {
  text-align: center;
  color:white;
}
.screen {
  background-color: black;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;  
  width: 900px;
  height: 580px;
  border-radius: 10px;
  border: 3px solid white;
}
.selection {
  margin-top: 240px;
  background: #123;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid white;
  font-weight: bold;
  text-align: center;
  font-family: serif;
  color: white;
}
